--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

torch
torchvision
torchaudio

sentence_transformers
qdrant_client
newspaper3k
lxml_html_clean
fastapi
uvicorn
aiohttp
